---
layout: default
title: "My Gear"
class: "gear"
---

%section.lead
  %h1= "My Gear"
  :markdown
    Here lies a page that's meant to label the things that I own and use to do
    the stuff that I like doing like writing software or take pictures.

%section.hardware
  %h2
    %a{name:"hardware"}= "Hardware"
  %address= "Updated December 19, 2014"

  %h3
    %a{name:"laptop"}= "My Laptop"
  %p
    :markdown
      My laptop of choice is the [Dell XPS 14][laptop] with 500 GB of disk space,
      32 GB SSD and a [Intel i7-3537U core][core]. With 8 GB SDDRAM3 @ 1.6 GHz,
      it's relatively fast and gets the job done. Bluetooth's in there as well 
      and it has a backlit keyboard which really helps at night. It has a shoddy 
      web camera though, only 2 megapixels. The speakers, however, are amazing 
      (before I messed them up). They really boom despite them behind under the
      laptop. And they're practically invisible. A nugget of gold about this 
      laptop? Under the bottom left corner of the keyboard, a button lights
      up to five LEDs, letting you know how much power's left. More useful 
      then it should be! Running on the laptop is a partially hand 
      rolled version of [KDE][kde] 4.14.2 on top of [Ubuntu][ubu] 14.10.
      ![Overhead shot of the Dell XPS 14 laptop, keyboard in focus](/images/dell-xps-14-keyboard-amzn.jpg)
      [laptop]:http://amzn.com/B00HK8V4PU
      [core]:http://ark.intel.com/products/72054/Intel-Core-i7-3537U-Processor-4M-Cache-up-to-3_10-GHz
      [kde]: http://kde.org
      [ubu]: https://ubuntu.com

  %h3
    %a{name:"camera"}= "My Cameras"
  %p
    :markdown
      Most of the shots I've taken come from my nifty [Nikon L830][l830]
      since it's mostly automatic when it comes to handling. I really
      just tweak ISO, white balance and focus with this camera.
      However, the [Nikon D3200][d3200] handles a lot better, takes way better
      shots but requires me to fiddle with it a bit more. This might be me
      handling it incorrectly; we'll find out.
      [l830]: http://amzn.com/B00HQ4W3X0
      [d3200]: http://amzn.com/B009OAOG9S
  %p
    %img.image-half{src:"/images/nikon-l830-isoview.jpg",alt:"Isometric(ish) view of Nikon L830"}
    %img.image-half{src:"/images/nikon-d3200.jpg",alt:"Isometric(ish) view of Nikon D3200"}

  %h3
    %a{name: "mouse"}= "Mouse"
  %p
    :markdown
      The cool kids are using track pads and what not. I not only like
      sticking to my mouse, I use it on the left side. I've done this
      for a long time (about 3 years now) and I noticed that I tend to
      place drinks and food to the right side and having a moving target
      over there was dangerous. So I invested in the [Logitech M150][mouse].
      Best investment EVAH!

      [mouse]: http://amzn.com/B003NR57BY

%section.software
  %h2
    %a{name:"software"}= "Software"
  %address= "Updated January 10, 2015"

  Most of the files for replicating my environment is over on Github for the
  %a{href: "github.com/jalcine/dotfiles"} shell
  and
  %a{href: "github.com/jalcine/kderc"} KDE
  repositories.

  %h3= "Terminal Emulator"
  %p
    :markdown
      I spend too much time in [Konsole][] after trying out things
      like [FinalTerm][] and [GNOME Terminal][] on Linux machines.
      Konsole supports more colors and is very flexible with glyph rendering.
      I use the [Base 16 Atelier Heath][clr] color scheme for the emulator.
      It's not completely black in the background, but it's dark enough
      to be a backdrop of sorts. The typeface used is [monoOne][] and it
      works really well at size 9 **and** comes with Powerline symbol support.

      ![Snapshot](/images/konsole.png)

      [konsole]: https://konsole.kde.org/
      [finalterm]: http://finalterm.org/
      [gnome terminal]: https://wiki.gnome.org/Apps/Terminal
      [clr]: https://github.com/chriskempson/base16/blob/master/scheme-previews/base16-atelier-heath.svg
      [monoOne]: https://github.com/madmalik/monoOne

  %h3= "Shell"
  %p
    :markdown
      As most intermediate developers do, I use [Bash][] as my default shell.
      I use [homeshick][] to set up a system of shell configuration files for
      [vim][], [git][], [tmux][] and [anything else that isn't big][dot]
      enough to pull out into a separate repository.

      [bash]: https://www.gnu.org/software/bash/
      [homeshick]: https://github.com/andsens/homeshick
      [vim]: https://github.com/jalcine/vimrc
      [git]: https://github.com/jalcine/gitrc
      [tmux]: https://github.com/jalcine/tmuxrc
      [dot]: https://github.com/jalcine/dotfiles
  %p
    :markdown
      I (obviously) use Vim as my primary text editor and like using KDE
      software for their synergy so things like KMail, Korganizer and Krita
      are all tools I use too often.
